body{
background:#0f172a;
color:white;
font-family:Segoe UI;
}

h1{
font-weight:700;
}

.stat-card{
padding:30px;
border-radius:20px;
text-align:center;
color:white;
}

.blue{
background:#2563eb;
}

.red{
background:#dc2626;
}

.green{
background:#16a34a;
}

.main-card{
background:#1e293b;
border:none;
}

textarea{
height:220px;
background:#111827 !important;
color:white !important;
}

.result-card{
padding:25px;
background:#1e293b;
border-radius:20px;
text-align:center;
}

.card{
background:#1e293b;
border:none;
}